<form role="form">
  <div class="form-group">
    <label for="url">Data source URL</label>
    <input type="url" class="form-control" id="url" ng-model="config.url" placeholder="Enter data source url">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" ng-model="config.type" placeholder="spline">
    <label for="height">Height</label>
    <input type="text" class="form-control" id="height" ng-model="config.height" placeholder="Enter height (e.g. 320px)">
    <label for="showLegend">showLegend</label>
    <input type="checkbox" class="form-control" ng-model="config.showLegend" name="vehicle" value="showLegend">
    <label for="showTooltip">showTooltip</label>
    <input type="checkbox" class="form-control" ng-model="config.showTooltip" name="vehicle" value="showTooltip">
    <label for="timeseries">timeseries</label>
    <input type="checkbox" class="form-control" ng-model="config.timeseries" name="vehicle" value="timeseries">        
  </div>
</form>
