<form role="form">
  <div class="form-group">
    <label for="url">Data source URL</label>
    <input type="url" class="form-control" id="url" ng-model="config.url" placeholder="Enter data source url (json)">
    <label for="thresholds">Thresholds</label>
    <input type="checkbox" class="form-control" id="thresholds" ng-model="config.thresholds">
    <label for="inverse">Inverse (for thresholds only)</label>
    <input type="checkbox" class="form-control" id="inverse" ng-model="config.inverse">
    <label for="about">About</label>
    <textarea class="form-control" id="about" ng-model="config.about"></textarea>
  </div>
</form>