<div class="news">
  <div class="alert alert-info" ng-if="!feed">
    Please insert a valid token in the widget configuration
  </div> 
  <div class="col-md-6 col-sm-6 col-lg-4">
      <div class="bignumber-value">{{feed.karma}}</div>  	
      <div class="bignumber-title">current karma</div>
  </div>

  <div class="col-md-6 col-sm-6 col-lg-4">
      <div class="bignumber-value">{{feed.karma_trend}}</div>  	
      <div class="bignumber-title">karma trend</div>
  </div>

  <div class="col-md-6 col-sm-6 col-lg-4">
      <div class="bignumber-value">{{feed.completed_count}}</div>  	
      <div class="bignumber-title">total tasks</div>
  </div>

  <ul class="list-unstyled" ng-init="ddd = feed.days_items">
  	<li ng-repeat="n in ddd">
  	  {{n.date}}: <span class="smallnumber-value">{{n.total_completed}}</span>
  	</li>
  </ul>
</div>