[submodule "app/widgets/clock"]
	path = app/widgets/clock
	url = https://github.com/sdorra/adf-widget-clock
[submodule "app/widgets/linklist"]
	path = app/widgets/linklist
	url = https://github.com/sdorra/adf-widget-linklist
[submodule "app/widgets/markdown"]
	path = app/widgets/markdown
	url = https://github.com/sdorra/adf-widget-markdown
[submodule "app/widgets/news"]
	path = app/widgets/news
	url = https://github.com/sdorra/adf-widget-news
[submodule "app/widgets/version"]
	path = app/widgets/version
	url = https://github.com/sdorra/adf-widget-version
