<form role="form">
  <div class="form-group">
    <label for="url">Iframe URL</label>
    <input type="url" class="form-control" id="url" ng-model="config.url" placeholder="Enter iframe url">
    <label for="height">Height</label>
    <input type="text" class="form-control" id="height" ng-model="config.height" placeholder="Enter height (e.g. 240px)">
    <label for="width">Width</label>
    <input type="text" class="form-control" id="width" ng-model="config.width" placeholder="Enter width (e.g. 320px)">
  </div>
</form>